.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: var(--elements);
  box-shadow: 0 0 5px var(--input);
  color: var(--text);
  font-size: 1.2rem;
}

.header .link {
  font-weight: 800;
  color: var(--text);
  text-decoration: none;
  letter-spacing: -0.05rem;
}

.btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  color: var(--text);
  font-family: inherit;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .header {
    padding: 2rem 1rem;
  }
}
