.searchFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 72rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.search {
  display: flex;
  align-items: center;
  width: 25rem;
  box-shadow: 0 0 2px var(--border);
  padding: 1rem;
  color: var(--input);
  background-color: var(--elements);
}

.searchIcon {
  color: inherit;
}

.input {
  border: none;
  width: 20rem;
  padding-left: 1rem;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
}

.input:focus {
  outline: none;
  color: inherit;
  background-color: inherit;
}

.input::placeholder {
  color: inherit;
}

.filter {
  box-shadow: 0 0 2px var(--border);
  padding: 1rem;
  width: 12rem;
  color: var(--text);
  background-color: var(--elements);
  border: none;
  font-family: inherit;
  font-weight: 600;
  appearance: none;
}

.filter:focus {
  outline: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--text);
}
